* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --color-amarillo: #f2d576;
    --color-negro: #252627;
    --color-verde: #1fb9af;
    --color-naranja: #e87554;
    --color-blanco: #fff9fb; 
  }
  
  body {
    background-color: var(--color-amarillo);
  }
  
  .container {
    color: var(--color-negro);
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20%;
  }
  img.logo{
    max-height: 32vh;
  }
  h1 {
    font-weight: normal;
    font-size: 4.5em;
  }
  h2{
    font-size: 2em;
    font-weight: 100;
    
  }
  
  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 4.5rem;
    color: var(--color-blanco);
  }
  .redes{
    margin-top: 30px;
    display: flex; 
    
    width: 100%;
    justify-content: space-between; 
    font-size: 3em; 
    text-decoration: none;
    color:inherit;
  }
  .container a{
    text-decoration: none;
    color: var(--color-negro);
    transition: all .35s ease-in-out;
  }
  .container a .fa-facebook:hover{
    color: var(--color-blanco);
  }
  .container a .fa-twitter:hover{
    color: var(--color-blanco);
  }
  .container a .fa-instagram:hover{
    color: var(--color-blanco);
  }
  .container a .fa-envelope:hover{
    color: var(--color-blanco);
  }
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    *{
        height: auto;
    }
    .container{
        display: flex;
        justify-content: center;
    }
    ul{
      display: grid;
      grid-template-columns: 1fr 1fr;

    }
    li {
      font-size: 1rem;
      display: block;
      width: 100%;

    }
    li span {
        display: block;
        font-size: 2rem;
        color: var(--color-blanco);
       
      }
      .redes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 3vh;
        font-size: 3em; 
        text-decoration: none;
        color:inherit;
      }
      h2{display: none;}
      h1{
          margin-top: 20px;
          font-size: 1.8em;
      }
    }
/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 320px) {
  h2{display: none;}
    }